/*Reset*/

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/*Custom styles*/

@font-face {
    font-family: 'wh1';
    src: url('./fonts/wh.otf') format('opentype');
}

@font-face {
    font-family: 'combat';
    src: url('./fonts/combat.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#background {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

header {
    height: 2rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1.5rem;
}

#top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

#h-logo {
    width: 30%;
    margin-top: 0.35rem;
    margin-left: 0.4rem;
}

.fa-circle-question {
    color: aliceblue;
    margin-right: 0.7rem;
    cursor: pointer;
}

h1 {
    color: aliceblue;
    text-align: center;
    font-family: wh1;
    font-size: 2rem;
    margin-top: 0;
}

#game {
    margin: 10%;
    margin-bottom: 0;
    margin-top: 3rem;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.fig-box:nth-of-type(1) {
    margin-bottom: 0;
}

.fig-box {
    height: 5.5rem;
    width: 5.5rem;
    border: solid 2px #205A8C;
    border-radius: 4px;
    transition: 0.4s;
    cursor: pointer;
}

.play {
    transform: scale(1.3);
    border-color: #20A152;
    box-shadow: 0 0 1rem #205A8C;
}

.computer-play {
    transform: scale(1.3);
    border-color: #F2594B;
    box-shadow: 0 0 1rem #ffc600;
}

.game-icon {
    width: 100%;
    border-radius: 2px;
}

figcaption {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    text-align: center;
    font-family: combat;
    color: aliceblue;
}

.results {
    position: absolute;
    width: 18rem;
    height: 8rem;
    background: radial-gradient(circle, rgba(32,90,140,1) 0%, rgba(36,37,64,1) 100%);
    border: double 6px #6092A6;
    border-radius: 5px;
    top: 35%;
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    color: aliceblue;
    font-family: wh1;
    font-size: 1.4rem;
    opacity: .9;
}

.final-results-win {
    position: absolute;
    width: 18rem;
    height: 12rem;
    background: radial-gradient(circle, rgba(32,90,140,1) 0%, rgba(36,37,64,1) 100%);
    border: double 6px green;
    border-radius: 5px;
    top: 35%;
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    color: #20A152;
    font-family: wh1;
    font-size: 1.4rem;
    opacity: 1;
}

.final-results-lose {
    position: absolute;
    width: 18rem;
    height: 12rem;
    background: radial-gradient(circle, rgba(32,90,140,1) 0%, rgba(36,37,64,1) 100%);
    border: double 6px #97161B;
    border-radius: 5px;
    top: 35%;
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    color: #D9042B;
    font-family: wh1;
    font-size: 1.4rem;
    opacity: 1;
}

button {
    margin-top: 2rem;
    width: 8rem;
    height: 2rem;
    border: solid 2px #6092A6;
    font-family: combat;
    background-color: #242540;
    color: #6092A6;
}

.p-results {
    margin-bottom: 0;
}

#div-score {
    display: flex;
    justify-content: center;
    align-items: center;
}

#score {
    color: aliceblue;
    font-family: wh1;
    height: 2rem;
    margin: 0 0.7rem 0 0;
}

.score-count {
    color: aliceblue;
    font-family: wh1;
    font-size: 1.5rem;
    padding-bottom: 0.2rem;
}

footer {
    background-color:#6092A690;
    height: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 8px;
    position: absolute;
    bottom: 0;
}

.p-footer, a {
    margin: 0 1rem;
    font-family: combat;
    color: #0D0D0D90;
    text-decoration: none;
}

.div-footer {
    display: inline-block;
}

.fa-github {
    margin: 0.3rem;
}

#menu-container {
    z-index: 2;
    background-color: #6092A6;
    width: 16em;
    height: 80%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
    font-family:'Courier New', Courier, monospace;
    display: none;
    flex-flow: column;
    text-align: center;
    color: #242540;
    transition: 0.3s;
    opacity: 0;
}

#side-close {
    text-align: left;
}

#menu-container h3 {
    font-family: wh1;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

#menu-container h4 {
    font-family: wh1;
    font-size: 1rem;
}

hr {
    width: 100%;
    border: 1px solid #242540;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skulls {
    margin: 1.5rem 0;
    display: inline-block;
}

#skull {
    text-align: center;
    color: #242540;
}

@media (orientation: landscape) {
    #game {
        flex-direction: row;
        max-height: 45vh;
    }

    .fig-box {
        scale: 0.8;
    }
}

@media only screen and (min-device-width:600px) {
    
    #game {
        flex-direction: row;
        max-height: 45vh;
    }
}

@media only screen
    and (min-device-width:992px)
    and (min-device-height: 500px) {
    .fig-box {
        scale: 1.5;
    }

    #score, .score-count {
        scale: 2;
    }

    #score {
        margin: 0 5rem 0 0;
    }

    .score-count {
        margin: 0 1rem 0 0;
    }

}


/*
@media only screen
    and (min-device-width:768px)
    and (min-device-height:768px) {

        #div-score {
            margin-top: 5rem;
        }
}
/*
@media only screen and (min-device-width:992px) {
    .fig-box {
        scale: 1.5;
    }

    .div-footer {
        scale: 1.5;
    }

}

@media only screen and (min-device-width:1200px) {
    .fig-box {
        scale: 1.8;
    }

    .div-footer {
        scale: 1.5;
    }

    #div-score {
        scale: 2;
    }
}
